.bg-lightgreen {
    background-color: $lightgreen;
}

.bg-dark {
    background-color: $dark;
}

// color feature
.bg-gray {
    background-color: $gray;
}

.bg-lightblue {
    background-color: $lightblue;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-pink {
    background-color: $pink;
}

.bg-darkpink {
    background-color: $darkpink;
}

.bg-darkyellow {
    background-color: $darkyellow;
}

.bg-pelangi {
    background-color: $pelangi;
}

.bg-darkwhite {
    background-color: $darkwhite;
}

.bg-blue {
    background-color: #185adb;
}