$white: #ffffff;
$lightgreen: #e5ffea;
$black: #0a1931;
$dark: #0a1931;
// hero
$gray: #eaecfd;
$lightblue: #b8f3fb;
$yellow: #f1e9a2;
$pink: #fdeaea;
$darkpink: #fdd0f8;
$darkyellow: #faef93;
$pelangi: #d3fbe5;
$darkwhite: #0a1931;
$paragrafh: #8c8db0;